@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.action {
  @apply bg-blue-500 rounded-full p-2 w-[150px];
}
.number_title {
  @apply text-4xl font-bold text-blue-500;
}

.sxn {
  @apply p-2;
}

.mars {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
